# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
*.sdf
*.opensdf
*.suo
*.opendb
*.db

# Dependencies
Dependencies/*
x64/*
*/x64/*
Debug/*
*/Debug/*

# Cmake
CMakeFiles/*
Makefile
cmake_install.cmake
CMakeCache.txt

#vim
*.swp

# Binary Files
#Assets/*
*.png
*.tga
*.dds
*.mp3
*.wav
*.ogg
*.jpg
*.hdr
*.xcf
Assets/*.zip

# 3D Models
*.blend
*.blend1
*.dae
*.fbx
